mixin checkbox(spec)
  - spec = spec || {}
  - spec.class = spec.class || ''

  label.a-checkbox(class=spec.class for=spec.id)&attributes(attributes)
    input.a-checkbox__input(id=spec.id type="checkbox" name=spec.name)
    span.a-checkbox__box
      +icon({
        class: 'a-checkbox__icon',
        icon: 'yomas'
      })
    if (spec.text)
      span.a-checkbox__text= spec.text